@import './components/header';
@import './components/main';
@import './components/user';
@import './components/transaction';

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}


a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: #2c3e50;
  }
}

a.router-link-exact-active {
  color: #42b983;
}